body{
    background-color: rgb(62, 178, 224);
}
form{
    padding:30px;
    text-align: center;
    background-color: white;
    margin: auto;
    border:outset white;
    border-radius: 10px;
    width: 200px
}
Button{
    background-color: rgb(53, 107, 189);
    border:rgb(53, 107, 189) outset;
    width: 100%
}

form h2{
    text-align: left;
}
form .log{
    width: 100%
}
